.git
.gitignore
README.md
k8s/
docker-compose.yml
Dockerfile
.dockerignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.egg-info
.env.example
venv/
.venv/
node_modules/
.DS_Store
logs/
uploads/
*.sqlite
*.db
